*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  display: flex;
  width: auto;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  background-color: #383735;
  height: auto;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.navbar{
  background-color: transparent;
  overflow: hidden;
  width: 100%;
}

.navbar a{
  color: rgb(251, 209, 41);
  display: block;
  float: left;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover{
  color: #d5c9c9;
}

.container{
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 70px;
  background: #fff;
  border-radius: 25px;
}

.dish{
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main{
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

main .row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

main .row .left{
  flex: 40%;
  height: auto;
}

main .row .right{
  flex: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .row .right img{
  width: 650px;
  height: 400px;
  border-radius: 20px;
}

.dish h2{
  color: rgb(212, 117, 17);
  margin-bottom: 5px;
}

main p{
  color:  rgb(158, 25, 25);
  font-weight: 650;
  margin-bottom: 15px;
  margin-top: 29px;
}

ul li{
  margin-bottom: 17px;
  margin-left: 35px;
}

.instructions{
  margin-bottom: 25px;
  background-color: rgb(248, 242, 246);
  border-radius: 10px;
  padding: 15px;
}


.footer{
  width: 100%;
  background-color: transparent;
  color: #625f5c;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer ul li{
  list-style: none;
  display: block;
  float: left;
}

.footer img{
  width: 33px;
  height: 29px;
}

.footer img:hover{
  background-color: #625f5c;
}

@media (max-width: 768px) {
  .row{
    flex-direction: column;
  }

  img{
    max-width: 100%;
    height: auto;
  }
}