*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #25201b;
  padding: 20px;
  line-height: 1.5;
}

.navbar{
  overflow: hidden;
  margin-bottom: 10px;
}

.navbar a{
  color: rgb(251, 209, 41);
  display: block;
  float: left;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover{
  color: #d5c9c9;
}

main{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  justify-items: center;
}

@media (min-width:768px){
  main{
  grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width:1024px){
  main{
  grid-template-columns: repeat(5, 1fr);
  }
}

.card {
  background-color:rgb(252, 254, 250);
  width: 240px;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  border-radius: 5px;
}

.card:hover{
  transform: translateY(-3px);
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);  
}

.card img{
  width: 239px;
  height: 160px;
  object-fit: cover;
  margin-top: 0;
  border-bottom: 2px solid#ddd;
  border-radius: 5px;
}

.card-info{
  display: flex;
  flex-direction: column;
  width: 100%;
}

button{
  cursor: pointer;
  background-color: rgb(248, 219, 53);
  border: none;
  border-radius: 7px;
  color: rgb(120, 63, 19);
  font-weight: bold;
  padding: 5px 10px;
  margin-top: 5px;
  transition: transform 0.5s ease, background-color 0.5s ease
}

button:hover{
  background-color: rgb(246, 227, 118);
  transform: scale(1.03);
}
