*{
  margin-top: 0;
  padding: 0;
}

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url("../img/bgimg.jpg");
  background-size: cover;
}

.navbar{
  overflow: hidden;
  padding-top: 30px;
}

.navbar a{
  color: rgb(255, 225, 103);
  display: block;
  float: left;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
}

.navbar a.right {
  float: right;
}

.navbar a:hover{
  color: #d5c9c9;
}

.container, .contact-container{
  background-color: rgba(249, 236, 220, 0.952);
  max-width: 400px;
  margin: 150px auto;
  padding: 70px 35px;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0 10 10px rgba(0,0,0,0.3);
}

#signup-container{
  margin: 93px auto;
}

.container h2{
  margin-bottom: 50px;
  color: rgb(121, 32, 32);
  text-align: center;
}

.container form input{
  width: 100%;
  background-color: transparent;
  border: solid rgb(74, 73, 73);
  border-width: 0 0 1px 0;
  outline: none;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 25px;
}
.container form input:focus{
  border-color: rgb(176, 174, 174);
}

.container button, .contact-form button{
  width: 60%;
  display: block;
  margin-left: auto;
  cursor: pointer;
  padding: 7px;
  margin-top: 25px;
  background-color:  rgb(190, 108, 19);
  color: #a20c06;
  font-weight: 800;
  border: none;
  border-radius: 3px;
}

.container button:hover, .contact-form button:hover{
  background-color:rgb(196, 125, 49);
}

.signup_link, .login_link{
  margin-top: 25px;
}

.signup_link a, .login_link a{
  text-decoration: none;
  color: #a20c06;
  font-weight: 600;
}

.signup_link a:hover{
  color: #860a05;
}

.contact-container{
  background-color: rgba(249, 236, 220, 0.664);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  margin: 97px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-right: 20px;
  padding-left: 20px;
}

.contact-container h2{
  color: brown;
}

.contact-container .contact-info{
  color: #4a0b0b;
}

.contact-info, .contact-form{
  padding: 70px;
}

.contact-form input, .contact-form textarea{
  width: 100%;
  color: #fff;
  background-color: transparent;
  border: solid #fff;
  border-width: 0 0 1px 0;
  outline: none;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 25px;
}

.contact-form input::placeholder, .contact-form textarea::placeholder{
  color: #fff;
}

.contact-form input:focus, textarea:focus{
  border-color: #ebe5e5;
}

.contact-container .contact-form button{
  margin-right: auto;
}

.footer{
  background-color:transparent;
  color: #5f5d5b;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer ul li{
  list-style: none;
  display: block;
  float: left;
}

.footer img{
  width: 33px;
  height: 29px;
  background-color: #3a3837be;
}

.footer img:hover{
  background-color: #625f5c;
}

@media screen and(max-width:480px) {
  .container{
    margin-top: 75px;
  }
}

@media screen and (max-width:480px){
  .navbar a{
    float: none;
    width: 100%;
  }
}

