*{
  margin-top: 0;
  padding: 0;
}

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url("../img/bgimg.jpg");
  background-size: cover;
}

.navbar{
  overflow: hidden;
}

.navbar a{
  color: rgb(255, 225, 103);
  display: block;
  float: left;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
}

.navbar a.right {
  float: right;
}

.navbar a:hover{
  color: #d5c9c9;
}

.container{
  background-color: #fffffff8;
  max-width: 400px;
  margin: 150px auto;
  padding: 70px 35px;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container h2{
  margin-bottom: 50px;
  color: rgb(121, 32, 32);
  text-align: center;
}

input{
  width: 100%;
  border: 1px solid rgb(74, 73, 73);
  border-radius: 3px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 25px;
}

.container button{
  width: 60%;
  display: block;
  margin-left: auto;
  cursor: pointer;
  padding: 7px;
  margin-top: 25px;
  background-color: #e7b476;
  color: #a20c06;
  font-weight: 800;
  border: none;
  border-radius: 3px;
}

.container button:hover{
  background-color: #c8985d;
}

.signup_link, .login_link{
  margin-top: 25px;
}

.signup_link a, .login_link a{
  text-decoration: none;
  color: #a20c06;
  font-weight: 600;
}

.signup_link a:hover{
  color: #860a05;
}

@media screen and(max-width:480px) {
  .container{
    margin-top: 75px;
  }
}

@media screen and (max-width:400px){
  .navbar a{
    float: none;
    width: 100%;
  }
}

