*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #292727;
  color: rgb(40, 39, 39);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header{
  padding: 220px;
  height: 100px;
  text-align: center;
  color: rgb(190, 108, 19);
  background: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header h1{
  font-size: 35px;
  padding-top: 30px;
}

.navbar{
  background-color: #292928a9;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.15); 
}

.navbar a{
  color: rgb(251, 209, 41);
  display: block;
  float: left;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover{
  color: #d5c9c9;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.side{
  background-color: rgb(219, 217, 218);
  flex: 45%;
  padding: 55px;
}

.side a, .main a{
  text-decoration: none;
  color: rgb(158, 16, 16);
}

.side a:hover{
  color: rgb(195, 23, 23);
}

.main{
  background-color: rgb(235, 232, 229);
  flex: 55%;
  padding: 55px;
  text-align: center;
}

.side h3, .main h3{
  padding-bottom: 5px;
  color: rgb(158, 16, 16);
}

.main a:hover{
  color: rgb(195, 23, 23);
}

.footer{
  background-color: #25201b;
  color: #625f5c;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer ul li{
  list-style: none;
  display: block;
  float: left;
}

.footer img{
  width: 33px;
  height: 29px;
}

.footer img:hover{
  background-color: #625f5c;
}

@media screen and (max-width:700px) {
  .row{
    flex-direction: column;
  }
}

@media screen and (max-width:400px){
  .navbar a{
    float: none;
    width: 100%;
  }
}

