*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #292727;
  color: rgb(40, 39, 39);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header{
  padding: 220px;
  height: 100px;
  text-align: center;
  color: rgb(190, 108, 19);
  background: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header h1{
  font-size: 35px;
  padding-top: 30px;
}

.navbar{
  background-color: #292928;
  overflow: hidden;
  box-shadow: 7px 7px 11px rgba(0, 0, 0, 0.3);
}

.navbar a{
  color: rgb(251, 209, 41);
  display: block;
  float: left;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover{
  color: #d5c9c9;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.side{
  background-color: rgb(219, 217, 218);
  flex: 45%;
  padding: 55px;
}

.main{
  background-color: rgb(235, 232, 229);
  flex: 55%;
  padding: 55px;
  text-align: center;
}

.side h3, .main h3{
  padding-bottom: 5px;
  color: rgb(71, 20, 20);
}

.footer{
  background-color: #25201b;
  color: #625f5c;
  text-align: left;
  padding: 55px;
}

@media screen and (max-width:700px) {
  .row{
    flex-direction: column;
  }
}

@media screen and (max-width:400px){
  .navbar a{
    float: none;
    width: 100%;
  }
}

