body{
  display: flex;
  width: auto;
  padding: 60px;
  justify-content: center;
  align-items: center;
  background: rgb(80, 73, 68);
  gap: 8px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1250px;
  padding: var(--spacing-500, 40px);
  flex-shrink: 0;
  border-radius: var(--spacing-300, 24px);
  background: rgb(239, 238, 239);
}

header{
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  padding-left: 40px;
  padding-right: 40px;
}

main{
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 20px 40px;
  border-radius: 24px;
  background: rgb(253, 248, 251);
}

img{
  height: 500px;
  align-self: stretch;
  margin-bottom: 60px;
  border-radius: 12px;
  background: url(IMG_11.jpg) rgb(130, 122, 116) 50% / cover no-repeat;
}

h2{
  align-self: stretch;
  color: rgb(104, 36, 14);
  margin: 0;
}

h4{
  align-self: stretch;
  font-weight: 400;
  margin-bottom: 30px;
}

.ingredients>p, .kitchen-tools>p, .instructions>p{
  align-self: stretch;
  color: rgb(104, 36, 14);
  font-weight: 750;
}

ul li{
  flex: 1 0 0;
  margin-bottom: 15px;
}

footer{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}